{% extends 'base.html'%}
{% load i18n %}
{%block body%}

    <div class="row flex-nowrap m-4 p-4 h-100">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 pr-4 h-100">
            <div class="d-flex flex-column align-items-center px-5 pt-2 ">
                <!--
                <ul class="nav nav-pills flex-column mb-sm-auto mt-3 mb-2 align-items-center pt-5 " id="menu">
                    <li class="btn btn-info py-2 px-5 btn-pill btn-md btn-block waves-effect text-left m-b-20">
                        <a href="{% url 'project_select_page' %}" class="align-middle px-0 text-white  ">
                            <i class="fa fa-plus pr-2"></i>  <span class="ms-1 d-none  d-sm-inline">{% translate 'New Scenario'%}</span>
                        </a>
                    </li>
                    <li class="btn btn-primary mt-4 py-2 px-5 btn-pill btn-md btn-block waves-effect text-left m-b-20" pt-2>
                        <a href="{% url 'portfolio' query='saved_scenarios'%}" data-bs-toggle="collapse" class="text-white ">
                            <i class="fa fa-archive pr-2"></i>  <span class="ms-1 d-none d-sm-inline">{% translate 'Portfolio'%}</span> 
                        </a>
                    </li>
                    <li class="btn btn-primary mt-4 mb-5 py-2 px-5 btn-pill btn-md btn-block waves-effect text-left m-b-20" pt-2>
                        <a href="{% url 'portfolio' query='saved_searches'%}" data-bs-toggle="collapse" class="text-white ">
                            <i class="fa fa-save pr-2"></i>  <span class="ms-1 d-none d-sm-inline">{% translate 'Saved Search'%}</span> 
                        </a>
                    </li>
                
                    
                    <li class="btn btn-secondary mt-5 py-2 px-5 btn-pill btn-md btn-block waves-effect text-left m-b-20" pt-2>
                        <a href="#submenu1" data-bs-toggle="collapse" class="text-white ">
                            <i class="fa fa-cog pr-2"></i>  <span class="ms-1 d-none d-sm-inline">{% translate 'Account settings'%}</span> 
                        </a>
                    </li>
                    
                    
                </ul>
                <div class='mt-5 p-2'>
                    <p class='mx-3'><a href="#">{% translate 'Terms of Use'%}</a></p>
                    <p class='mx-3'><a href="#">{% translate 'Privacy policy'%}</a></p>

                </div>
                -->

                
            </div>
        </div>
        <div class="col px-5 h-75">
            <div class = 'd-flex px-3 row'>
                <div>
                    <h3 class='px-3 font-weight-bold'> {% translate 'Seeds users logs'%} </h3>
                </div>
                <div class='ml-auto'>
                    <i id='download_logs' title="download"  class="fa fa-download  px-2 bg-primary text-white p-3 rounded-top rounded-bottom mx-2 btn btn-primary"></i> 
        
                    
                </div>
            </div>
            <p class='text-muted px-3 mb-4'> {% translate 'Check activity logs of Seeds users'%} </p>
            <div class='text-center text-lg py-5 align-middle h-75'>
                 {% if logs|length == 0 %}
                    <div class='text-muted'> {% translate 'It seems like there are no activity logs recorded.'%} </div>
                 {% else %}
                <div class='text-left'>
                <h4> {% translate 'Activity Logs'%} </h4>
                </div>
                <table class="table ">
                    <thead>
                        <tr> 
                            <th class='text-left'>{% translate 'User'%}</th>
                            <th>{% translate 'Action'%}</th>
                            <th>{% translate 'Object'%}</th>
                            <th>{% translate 'Timestamp'%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                        <tr class='text-align-middle'>
                            <td class='text-left'>{{log.actor}}</td>     
                            {% if log.verb == 'deleted' %}
                            <td><span class="badge badge-danger font-weight-light">{{log.verb}}</span></td>
                            {% elif log.verb == 'voted' %}
                            <td><span class="badge badge-warning font-weight-light">{{log.verb}}</span></td>
                            {% else %}
                            <td><span class="badge badge-primary font-weight-light">{{log.verb}}</span></td>
                            {% endif %}
                            <td>{{log.object}}</td>
                            <td>{{log.sub_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock%}
{% block scr %}


$(document).ready(function () {
    $("#download_logs").click(function (event) {
    
    console.log('hello');
    var scenarios = {{ json_format | safe}};
    let csvContent = "data:text/csv;charset=utf-8,";
    let headers = '';
    for(var key in scenarios) {
      data = scenarios[key];
      if (headers == ''){
        for(var f in data.fields){
          headers += f + ',';
        }
        csvContent +=  headers + "\r\n";
      }
      row = "";
      for(var f in data.fields){
      row += data.fields[f] + ',';
    }
      csvContent +=  row + "\r\n";
      
    } 
    var encodedUri = encodeURI(csvContent);
    window.open(encodedUri);    
   
  })
});
{% endblock %}