{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>SEEDS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'al-range-slider.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>

<body  data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="mr-auto text-dark pt-1 ">
            <a href="index.html">
              <h4><a href="{%url 'home'%}"><img class='img img-responsive' src="{% static 'images/home.png' %}"></a></h4>
            </a>
          </div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link text-dark">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'portfolio' query='saved_scenarios' %}" class="nav-link text-dark">My Portfolio</a></li>
                {% endif %}
                <!--
                <li><a href="#team-section" class="nav-link text-dark">About us</a></li>
                <li><a href="#documentation-section" class="nav-link text-dark">Documentation</a></li>
                <li><a href="#help-section" class="nav-link text-dark">Help</a></li>
                <li><a href="#contact-section" class="nav-link text-dark">Contact</a></li>
                -->
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>

    </header>
    <div class="site-section pb-0 mb-0">
      <div class="container-fluid p-0" style="height:100%">
        {% if messages %}
        {% for message in messages %}
        <div class="p-2 mt-5 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="message">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {%block body%}


        {% endblock%}

      </div>
    </div>
    <div class='site-footer mt-5'>
    <footer class="footer-section bg-light px-5 py-0 fixed-bottom">
      <div class="container-fluid px-4 text-muted py-0">
        <div class='row pl-5 align-items-center'>
            <div class="col col-8 p-0">
              <p class='p-0  pt-1'>
                &copy;
                <script>2023</script> SEEDS Project
              </p>
              <p class='small' style="font-size:3px!;">
                The SEEDS project is supported by the CHIST-ERA grant CHIST-ERA-19-CES-004, the Swiss National Science Foundation grant number 195537, the Fundação para a Ciência e Tecnologia (FCT) grant number CHIST-ERA/0005/2019, the Spanish Agencia Estatal de Investigación with grant PCI2020-120710-2, and the Estonian Research Council grant number 4-8/20/26
              </p>
            </div>
            <div class="col col-4 d-flex flex-row align-items-center">
              <div class='p-2 pr-4'>
                <img width="75px" class='img img-responsive' src="{% static 'images/partner_ethz.png' %}"/>
              </div>
              <div class='p-2 pr-4'>
                <img width="80px" class='img img-responsive' src="{% static 'images/partner_uab.png' %}"/>
              </div>
              <div class='p-2 pr-4'>
                <img width="100px" class='img img-responsive' src="{% static 'images/partner_fcid.png' %}"/>
              </div>
              <div class='p-2'>
                <img width="180px" class='img img-responsive' src="{% static 'images/partner_tlu.png' %}"/>
              </div>
            </div>
        </div>
      </div>
    </footer>
  </div>

  <div class='m-5 p-5 h-100'></div>

  </div> <!-- .site-wrap -->

  <script src="{% static 'jquery-3.6.4.min.js' %}" type="text/javascript"></script>

  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'al-range-slider.js' %}"></script>
  <script src="{% static 'alpine.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

  <script>
    {% block scr %}

    {% endblock %}
  </script>
</body>

</html>