{% extends 'base_inspect.html'%}
{%load static%}
{%block body%}
<style>
  a.active {
    font-weight: bold;
    border-bottom: #007bff;
  }

  .al-range-slider__input {
    display: none;
  }
</style>

<div class='d-flex px-4 mx-4 justify-content-between'>
  <div class='py-1'>
    <h2> Scenario  {{data.scenario.id}} </h2> 
  </div>
  {% if user.is_authenticated %}
  <div class='d-flex  p-2 m-2'>
    <i class="fa fa-download  pr-2 bg-primary text-white p-2 rounded-top rounded-bottom mx-2" data-toggle='modal' data-placement='top' data-target="#save_modal"></i>
    <!--<i class="fa fa-download  pr-2 bg-primary text-white p-2 rounded-top rounded-bottom mx-2"></i> -->
    <i class="fa fa-star  pr-2 bg-primary text-white p-2 rounded-top rounded-bottom" data-toggle='modal' data-placement='top' data-target="#vote_modal"></i>
  </div>
  {% endif %}
</div>
<div class="modal fade" id="back_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='modal-body'>
            Confirming this choice will erase all settings defined for these scenarios.
        </div>
        <div class="modal-footer">
          <a href="{% url 'interface' project_id=1 %}" type="button" class="btn btn-primary">Confirm</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="save_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form action="" method="post">
            {% csrf_token %}
            <input type='hidden' name='form_type' value='save'>
            <input type='hidden' name='project_id' value='{{project_id}}'>
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Save this scenario in your portfolio
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class='modal-body'>
              
                <div class="form-group">
                  <label for="exampleInputEmail1">Label</label>
                  <input type="text" class="form-control" id="label" name="label" aria-describedby="emailHelp" placeholder="Enter label">
                  <small  class="form-text text-muted">Scenario will be saved with the label.</small>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
<!--
<div class="p-2 m-5 bg-white shadow-sm border-light rounded rounded-bottom text-center">
  <p class='p-1 h5'> Would you be willing to accept this scenario?</p> 
  <p class="p-1">
    Assess the suitability of this system to help SEEDS ranking options for the Portuguese energy system
  </p>
  <div class="flex p-4">
    <button class='rounded bg-light btn  px-5'> <i class="fa fa-check text-success" data-toggle='modal' data-placement='top' data-target="#vote_modal"></i> </button>
    <button class='rounded bg-light btn  px-5'> <span class='font-weight-bold text-danger'>X</span> </button>
  </div>
</div>
-->
<div class="modal fade" id="vote_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form action="" method="post">
            {% csrf_token %}
            <input type='hidden' name='project_id' value='{{project_id}}'>
            <input type='hidden' name='form_type' value='vote'>
            <input type='hidden' id='vote_input' name='vote_input' value = '1'>
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Cofirm
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class='modal-body'>
              <div class="p-2 m-5 text-center">
                <p class='p-1 h5'> Would you be willing to accept this scenario?</p> 
                <p class="p-1">
                  Assess the suitability of this system to help SEEDS ranking options for the Portuguese energy system
                </p>
                <div class="flex p-4">
                  <a id="like" href="#" class='rounded bg-success text-white btn  px-5'> <i class="fa fa-check"></i> </a>
                  <a id="unlike" href="#" class='rounded bg-light btn  px-5'> <span class='font-weight-bold'>X</span> </a>
                </div>
              </div>
                
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Vote</button>
              
            </div>
          </form>
        </div>
      </div>
    </div>
<div class="p-2 m-5">
  <div class='row'>
    <div class='col col-8'>
      <div class='row mt-3 pr-3 col-12 p-4 bg-white shadow-sm border-light rounded rounded-bottom'>
        <p class='small text-muted font-weight-bold'>Scenario Performance</p>
        <div class='d-flex flex-row'>
          <div class="px-2 py-2 w-25">
            The chart illustrates scenario performance across Global Warming Potential (GWP1000), Agricultural Land Occupation (LOP), Metal Depletion (SOP), Water Depletion (WPC), and Freshwater Eutrophication Potential (FEP).
          </div>
          <div class="px-5 py-2">
            <div class='' id='impact_control'></div>
          </div>
        </div>
      </div>
      <div class='row mt-3 pr-3 col-12 p-4 bg-white shadow-sm border-light rounded rounded-bottom'>
        <div class='col mr-3 p-4 '>
          <div class='m-2' id='power_generation'></div>
        
          <div class='p-0 m-2' id='power_storage'></div>
        </div>
        <div class='col p-4'>
          <div  id='energy_supply'></div>
        </div>
      </div>
    </div>
    <div class='col col-4 p-3'>
      <div class='p-4 rounded-top rounded-bottom bg-white'>
        <p class='small text-muted font-weight-bold'>Total Energy </p>
        <p class='h4 font-weight-bold'> {{data.total_supply |floatformat:2 }} TWh/year</p>

        <a class="m-3  d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 bg-light rounded'> 
            <img width="50px" src="{% static 'images/PHOTOVOLTAIC.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>Photovoltic</div>
            <div class='h4 px-2 text-dark font-weight-bold'> {{data.total_pv |floatformat:2 }} TWh/year</div>
          </div>
        </a>
        <div class="collapse py-2 pl-5" id="collapseOne">
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> Roof PV </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.pv_roof_percentage |floatformat:2}}%</p>
          </div>
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> Open field PV </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.pv_open_percentage |floatformat:2}}%</p>
          </div>
        </div>

        <a class="m-3 d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 bg-light rounded'> 
            <img width="50px" src="{% static 'images/wind.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>Wind</div>
            <div class='h4 px-2 text-dark font-weight-bold'>{{data.total_wind |floatformat:2 }} TWh/year</div>
          </div>
        </a>
        <div class="collapse py-2 pl-5" id="collapseTwo">
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> Off-shore </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.wind_onshore_percentage |floatformat:2}}%</p>
          </div>
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> On-shore </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.wind_offshore_percentage |floatformat:2}}%</p>
          </div>
        </div>
        <a class="m-3 d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 rounded'> 
            <img width="60px" src="{% static 'images/bio.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>Biofuels</div>
            <div class='h4 px-2 text-dark font-weight-bold'>{{data.scenario.bio_fuel |floatformat:2 }} TWh/year</div>
          </div>
        </a>

        <a class="m-3 d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 bg-light rounded'> 
            <img width="50px" src="{% static 'images/HYDROGEN.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>Hydrogen</div>
            <div class='h4 px-2 text-dark font-weight-bold'>{{data.scenario.hydrogen |floatformat:2 }}  TWh/year</div>
          </div>
        </a>
        <a class="m-3 d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 bg-light rounded'> 
            <img width="50px" src="{% static 'images/ELECTRIC.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>Electrification</div>
            <div class='h4 px-2 text-dark font-weight-bold'>{{data.total_electrification |floatformat:2 }} TWh/year</div>
          </div>
        </a>
      </div>

    </div>
  </div>
  

  <div </div>
    {% endblock%}
    {% block scr %}

    $('#like').click(function(event){
      console.log('Like clicked');
      $("#like").removeClass('bg-light text-success');
      $("#like").addClass('bg-success text-white');
      $("#unlike").removeClass('bg-danger text-white');
      $("#unlike").addClass('bg-light text-danger');
      console.log('changed class');
      $("#vote_input").val('1');
    });

    $('#unlike').click(function(event){
      console.log('UnLike clicked');
      $("#unlike").removeClass('bg-light text-danger');
      $("#unlike").addClass('bg-danger text-white');
      $("#like").removeClass('bg-success text-white');
      $("#like").addClass('bg-light text-success');
      console.log('changed class');
      $("#vote_input").val('0');
    });
    const config = {
      displayModeBar: false, // this is the line that hides the bar.
    };
    data = [{
      type: 'scatterpolar',
      r: {{ data.radial_r | safe}},
      theta: {{ data.radial_theta | safe }},
      fill: 'toself'
    }]
    layout = {
      polar: {
        radialaxis: {
          visible: true,
          range: [0,1]
        }
      },
      showlegend: false
    }
    Plotly.newPlot("impact_control", data, layout,config)
    
    var data_supply = [{
      type: "pie",
      values: {{ data.energy_supply_pie_values | safe}},
      labels: {{ data.energy_supply_pie_labels | safe}},
      textinfo: "label+percent",
      textposition: "outside",
      automargin: true
    }]
    var layout_supply = {
      title: 'Total energy supply: {{data.energy_supply_total}} Twh/year',
      height: 400,
      width: 400,
      showlegend: false
      }
    Plotly.newPlot('energy_supply', data_supply, layout_supply,config)


  

    var power_data = {{data.power_bar_data | safe}};
    var layout = {
    title: 'Power generation',
    barmode: 'stack',
    xaxis:{
        range:[0,{{data.total_generation}} + 20]
    },
    height: 240,
    width: 600,
    showlegend: false,
    legend:{orientation: 'h', side:'top'}
    };
    Plotly.newPlot('power_generation', power_data,layout,config);

    var storage_data = {{data.storage_bar_data | safe}};
    var layout = {
    title: 'Power storage',
    barmode: 'stack',
    xaxis:{
        range:[0,{{data.total_storage}} + 20]
    },
    height: 240,
    width: 600,
    showlegend: false,
    legend:{orientation: 'h', side:'top'}
    };
    Plotly.newPlot('power_storage', storage_data,layout,config);
  
    {% endblock%}