{% extends 'base_inspect.html'%}
{%load static%}
{% load i18n %}
{%block body%}
<style>
  a.active {
    font-weight: bold;
    border-bottom: #007bff;
  }

  .al-range-slider__input {
    display: none;
  }
</style>
<div class="mt-4 mx-4 px-4 ">
  <a class="text-muted" href="" onclick="history.back();"> <span class='fa fa-arrow-left fa-2x'></span><a>
</div>
<div class='d-flex px-4 mx-4 pt-3  justify-content-between'>
  <div class='py-1'>
    <h2 class=''> {% translate 'Scenario' %}  {{data.scenario.id}} </h2> 
  </div>
  <div class='d-flex  p-2 m-2'>
  {% if user.is_authenticated %}
  
    <i style="cursor:pointer" class="fa fa-download  bg-primary text-white p-2 rounded-top rounded-bottom mx-2" data-toggle='modal' data-placement='top' data-target="#save_modal"></i>
    <!--<i class="fa fa-download  pr-2 bg-primary text-white p-2 rounded-top rounded-bottom mx-2"></i> -->
    <i style="cursor:pointer" class="fa fa-star   bg-primary text-white p-2 rounded-top rounded-bottom" data-toggle='modal' data-placement='top' data-target="#vote_modal"></i>
  
  {% else %}
  
    <i style="cursor:pointer" class="fa fa-download  bg-secondary text-white p-2 rounded-top rounded-bottom mx-2" data-toggle='modal' data-placement='top' data-target="#disable_modal"></i>
    <!--<i class="fa fa-download  pr-2 bg-primary text-white p-2 rounded-top rounded-bottom mx-2"></i> -->
    <i style="cursor:pointer" class="fa fa-star   bg-secondary text-white p-2 rounded-top rounded-bottom" data-toggle='modal' data-placement='top' data-target="#disable_modal"></i>
  
    {% endif %}
 
</div>      
</div>
<div class="modal fade" id="disable_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="exampleModalLabel">{% translate 'Need authentication'%}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='modal-body'>
          {% translate 'This feature is supported for authenticated users only.'%}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Close'%}</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="back_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="exampleModalLabel">{% translate 'Are you sure'%}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class='modal-body'>
          {% translate 'Confirming this choice will erase all settings defined for these scenarios.'%}
        </div>
        <div class="modal-footer">
          <a href="{% url 'interface' project_id=1 starting_scenario='a' %}" type="button" class="btn btn-primary">{% translate 'Confirm'%}</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Cancel'%}</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="save_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form action="" method="post">
            {% csrf_token %}
            <input type='hidden' name='form_type' value='save'>
            <input type='hidden' name='project_id' value='{{project_id}}'>
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">{% translate 'Would you like to add this scenario to your folder?'%}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class='modal-body'>
              
                <div class="form-group">
                  <label for="exampleInputEmail1">{% translate 'Title'%}</label>
                  <input type="text" class="form-control" id="label" name="label" aria-describedby="emailHelp" placeholder="Enter label">
                  <small  class="form-text text-muted">{% translate 'Scenario will be saved with the label.'%}</small>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">{% translate 'Save'%}</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Cancel'%}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
<!--
<div class="p-2 m-5 bg-white shadow-sm border-light rounded rounded-bottom text-center">
  <p class='p-1 h5'> {% translate 'Would you be willing to accept this scenario?'%}</p> 
  <p class="p-1">
    {% translate 'Assess the suitability of this system to help SEEDS ranking options for the Portuguese energy system'%}
  </p>
  <div class="flex p-4">
    <button class='rounded bg-light btn  px-5'> <i class="fa fa-check text-success" data-toggle='modal' data-placement='top' data-target="#vote_modal"></i> </button>
    <button class='rounded bg-light btn  px-5'> <span class='font-weight-bold text-danger'>X</span> </button>
  </div>
</div>
-->
<div class="modal fade" id="vote_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form action="" method="post">
            {% csrf_token %}
            <input type='hidden' name='project_id' value='{{project_id}}'>
            <input type='hidden' name='form_type' value='vote'>
            <input type='hidden' id='vote_input' name='vote_input' value = '1'>
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">{% translate 'Cofirm'%}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class='modal-body'>
              <div class="p-2 m-5 text-center">
                <p class='p-1 h5'> {% translate 'Would you be willing to accept this scenario?'%}</p> 
                <p class="p-1">
                  {% translate 'Assess the suitability of this system to help SEEDS ranking options for the Portuguese energy system'%}
                </p>
                <div class="flex p-4">
                  <a id="like" href="#" class='rounded bg-success text-white btn  px-5'> <i class="fa fa-check"></i> </a>
                  <a id="unlike" href="#" class='rounded bg-light btn  px-5'> <span class='font-weight-bold'>X</span> </a>
                </div>
              </div>
                
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">{% translate 'Vote'%}</button>
              
            </div>
          </form>
        </div>
      </div>
    </div>
<div class="p-2 m-5">
  <div class='row'>
    <div class='col col-8'>
      <div class='row mt-3 pr-3 col-12 p-4 bg-white shadow-sm border-light rounded rounded-bottom'>
        <p class='text-muted font-weight-bold'>{% translate 'Scenario Performance'%}</p>
        <div class='d-flex flex-row'>
          <div class="px-2 small py-2 w-50">
            {% translate 'The chart illustrates scenario performance across Global Warming Potential (GWP100), Agricultural Land Occupation (LOP), Metal Depletion (SOP), Water Depletion (WPC), and Freshwater Eutrophication Potential (FEP).'%}
          </div>
          <div class="px-5 py-2">
            <div class='' id='impact_control'></div>
          </div>
        </div>
      </div>
      <div class='row mt-3 pr-3 col-12 d-flex flex-wrap p-4 bg-white shadow-sm border-light rounded rounded-bottom'>
          <div class='p-5  rounded rounded-bottom border-light' id="solar_map"></div>
          <div class='p-5'  id="wind_map"></div>
          <div class='p-2 d-flex align-items-center'  id='energy_supply'></div>
          <div class='p-0 ' id='power_generation'></div>
          <div class='p-0 ' id='power_storage'></div>

          <div id="carouselExampleControls_a" class="row carousel slide" data-interval="false" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div id='impact_land_a' alt="First slide"></div>
              </div>
              <div class="carousel-item">
                <div id='impact_ore_a' alt="Second slide"></div>
              </div>
              <div class="carousel-item">
                <div id='impact_global_a' alt="Third slide"></div>
              </div>
              <div class="carousel-item">
                <div id='impact_water_a' alt="Fourth slide"></div>
              </div>
              <div class="carousel-item">
                <div id='impact_freshwater_a' alt="Fifth slide"></div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls_a" role="button" data-slide="prev">
              <span class='fa fa-arrow-left fa-1x text-dark'></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls_a" role="button" data-slide="next">
              <span class='fa fa-arrow-right fa-1x text-dark'></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
      
    </div>
    <div class='col col-4 p-3'>
      <div class='p-4 rounded-top rounded-bottom bg-white'>
        <p class='small text-muted font-weight-bold'>{% translate 'Total Energy'%} </p>
        <p class='h4 font-weight-bold'> {{data.total_supply |floatformat:2 }} TWh/{%translate 'year'%}</p>

        <a class="m-3  d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 bg-light rounded'> 
            <img width="50px" src="{% static 'images/PHOTOVOLTAIC.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>{% translate 'Photovoltaic'%}</div>
            <div class='h4 px-2 text-dark font-weight-bold'> {{data.total_pv |floatformat:2 }} TWh/{%translate 'year'%}</div>
          </div>
        </a>
        <div class="collapse py-2 pl-5" id="collapseOne">
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> {% translate 'Roof PV'%} </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.pv_roof_percentage |floatformat:2}}%</p>
          </div>
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> {% translate 'Open field PV'%} </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.pv_open_percentage |floatformat:2}}%</p>
          </div>
        </div>

        <a class="m-3 d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 bg-light rounded'> 
            <img width="50px" src="{% static 'images/wind.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>{% translate 'Wind'%}</div>
            <div class='h4 px-2 text-dark font-weight-bold'>{{data.total_wind |floatformat:2 }} TWh/{%translate 'year'%}</div>
          </div>
        </a>
        <div class="collapse py-2 pl-5" id="collapseTwo">
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> {% translate 'Off-shore'%} </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.wind_onshore_percentage |floatformat:2}}%</p>
          </div>
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> {% translate 'On-shore'%} </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.wind_offshore_percentage |floatformat:2}}%</p>
          </div>
        </div>
        <a class="m-3 d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 bg-light rounded'> 
            <img width="50px" src="{% static 'images/bio.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>{% translate 'Biofuels'%}</div>
            <div class='h4 px-2 text-dark font-weight-bold'>{{data.scenario.bio_fuel |floatformat:2 }} TWh/{%translate 'year'%}</div>
          </div>
        </a>

        <a class="m-3 d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 bg-light rounded'> 
            <img width="50px" src="{% static 'images/ELECTRIC.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>{% translate 'Electrification'%}</div>
            <div class='h4 px-2 text-dark font-weight-bold'>{{data.total_electrification |floatformat:2 }} TWh/{%translate 'year'%}</div>
          </div>
        </a>
        <div class="collapse py-2 pl-5" id="collapsefive">
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> {% translate 'Heat'%} </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.electrification.heat_percentage |floatformat:2}}%</p>
          </div>
          <div class='bg-light m-2 rounded-top rounded-bottom'>
            <p class='small pl-4 pt-2'> {% translate 'Transport'%} </p>
            <p class='display-5 text-right pr-3 pb-3'>{{data.electrification.transport_percentage |floatformat:2}}%</p>
          </div>
        </div>
        <a class="m-3 d-flex shadow-sm border-light bgd-flex collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour" class=' d-flex px-4 rounded-top rounded-bottom bg-white border-secondary'>
          <div class='p-2 m-2 bg-light rounded'> 
            <img width="50px" src="{% static 'images/HYDROGEN.png'%}">
          </div>
          <div class='p-2'>
            <div class='px-2 small' style='font-size:.5rem;'>{% translate 'Electrolysers'%}</div>
            <div class='h4 px-2 text-dark font-weight-bold'>{{data.scenario.hydrogen |floatformat:2 }}  TWh/{%translate 'year'%}</div>
          </div>
        </a>
       

        
        


      </div>

    </div>
  </div>
  

  <div </div>
    {% endblock%}
    {% block scr %}

    $('#like').click(function(event){
      console.log('Like clicked');
      $("#like").removeClass('bg-light text-success');
      $("#like").addClass('bg-success text-white');
      $("#unlike").removeClass('bg-danger text-white');
      $("#unlike").addClass('bg-light text-danger');
      console.log('changed class');
      $("#vote_input").val('1');
    });

    $('#unlike').click(function(event){
      console.log('UnLike clicked');
      $("#unlike").removeClass('bg-light text-danger');
      $("#unlike").addClass('bg-danger text-white');
      $("#like").removeClass('bg-success text-white');
      $("#like").addClass('bg-light text-success');
      console.log('changed class');
      $("#vote_input").val('0');
    });
    const config = {
      displayModeBar: false, // this is the line that hides the bar.
    };
    data = [{
      type: 'scatterpolar',
      r: {{ data.radial_r | safe}},
      theta: {{ data.radial_theta | safe }},
      fill: 'toself'
    }]
    layout = {
      polar: {
        radialaxis: {
          visible: true,
          range: [0,1]
        }
      },
      width: 320,
      margin : {l:35, r:35, t:15, b:15},
      showlegend: false,
    }
    Plotly.newPlot("impact_control", data, layout,config)
    
    var data_supply = [{
      type: "pie",
      values: {{ data.energy_supply_pie_values | safe}},
      labels: {{ data.energy_supply_pie_labels | safe}},
      textinfo: "label+percent",
      textposition: "outside",
      automargin: true
    }]
    var layout_supply = {
      title: "{% translate 'Total energy supply'%}: {{data.energy_supply_total}} Twh/{%translate 'year'%}",
      height: 400,
      width: 400,
      showlegend: false
      }
    Plotly.newPlot('energy_supply', data_supply, layout_supply,config)


  

    var power_data = {{data.power_bar_data | safe}};
    var layout = {
    title: "{% translate 'Power generation'%}",
    barmode: 'stack',
    xaxis:{
        range:[0,{{data.total_generation}} + 20]
    },
    height: 240,
    width: 500,

    showlegend: false,
    legend:{orientation: 'h', side:'top'}
    };
    Plotly.newPlot('power_generation', power_data,layout,config);

    var storage_data = {{data.storage_bar_data | safe}};
    var layout = {
    title: "{% translate 'Power storage'%}",
    barmode: 'stack',
    xaxis:{
        range:[0,{{data.total_storage}} + 20]
    },
    height: 240,
    width: 500,
    showlegend: false,
   
    legend:{orientation: 'h', side:'top'}
    };
    Plotly.newPlot('power_storage', storage_data,layout,config);
  
    var solar_map_data = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata.solar.z | safe}},
      locations:{{ mapdata.solar.locations | safe}},
      text:{{ mapdata.solar.text | safe}},
      hovertemplate: 'Solar: %{z:.2f} TW<br>%{text}<extra></extra>',
      showscale:false,

      marker_line_width:1,
  
    }]
    var wind_map_data = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata.wind.z | safe}},
      locations:{{ mapdata.wind.locations | safe}},
      text:{{ mapdata.wind.text | safe}},
      hovertemplate: 'Wind: %{z:.2f} TW<br>%{text}<extra></extra>',
      marker_line_width:1,
      showscale:false,
    }]
    var map_layout = {
  
      height: 500,
      width: 200,
      showlegend: false,
      margin : {l:0, r:0, t:0, b:0},
      mapbox:{
          style:'carto-positron',
          zoom:5.4,
          center:{lat:39.5,lon:-8}
      }
      }
    Plotly.newPlot('solar_map', solar_map_data, map_layout,config)
    Plotly.newPlot('wind_map', wind_map_data, map_layout,config)

    var trace1_a = {
      x: {{impact_a.land_occupation.others.x | safe}},
      y: {{impact_a.land_occupation.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.land_occupation.self.x | safe}},
      y: {{impact_a.land_occupation.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-{{data.scenario.id}}',
      marker: { size: 12 }
    };

    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:"{% translate 'Agricultural Land Occupation'%}",
      width: 500,
      showlegend: false,
   
    };
    Plotly.newPlot('impact_land_a', data_a, layout_a,config);

   
    var trace1_a = {
      x: {{impact_a.surplus_ore.others.x | safe}},
      y: {{impact_a.surplus_ore.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.surplus_ore.self.x | safe}},
      y: {{impact_a.surplus_ore.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-{{data.scenario.id}}',
      marker: { size: 12 }
    };
    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:"{% translate 'Surplus Ore Potential' %}",
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_ore_a', data_a, layout_a,config);

    var trace1_a = {
      x: {{impact_a.global_warming.others.x | safe}},
      y: {{impact_a.global_warming.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.global_warming.self.x | safe}},
      y: {{impact_a.global_warming.self.y | safe}},
      mode: 'markers',
      name: 'Scenario-{{data.scenario.id}}',
      type: 'scatter',
      marker: { size: 12 }
    };
    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:"{% translate 'Global Warming Potential' %}",
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_global_a', data_a, layout_a,config);

    var trace1_a = {
      x: {{impact_a.water_consumption.others.x | safe}},
      y: {{impact_a.water_consumption.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.water_consumption.self.x | safe}},
      y: {{impact_a.water_consumption.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-{{data.scenario.id}}',
      marker: { size: 12 }
    };
    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:"{% translate 'Water Consumption' %}",
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_water_a', data_a, layout_a,config);

    var trace1_a = {
      x: {{impact_a.freshwater_eutrophication.others.x | safe}},
      y: {{impact_a.freshwater_eutrophication.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.freshwater_eutrophication.self.x | safe}},
      y: {{impact_a.freshwater_eutrophication.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-{{data.scenario.id}}',
      marker: { size: 12 }
    };
    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:"{% translate 'Freshwater Eutrophication Potential' %}",
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_freshwater_a', data_a, layout_a,config);
   
    {% endblock%}