{% extends 'base.html'%}
{% load i18n %}
{%block body%}
<style>
    a.active {
        font-weight: bold;
        border-bottom: #007bff;
    }

    .al-range-slider__input {
        display: none;
    }
</style>
<div class="mt-4 mx-4 px-5 ">
    <a class="text-muted" href="{% url 'starting_page' project %}"> <span class='fa fa-arrow-left fa-2x'></span><a>
</div>
<div class=" align-center mt-2 mx-4 px-5 mb-5 pb-5" style="overflow:auto;">
    <h3> {% translate 'Define Scenario Settings'%} </h3>
    <div class="">
        <div class="'text-secondary"> 
            {% blocktrans %}
            Use the range sliders to define your preferences. Parameters settings allow you to set the characteristics energy transition scenarios, and are divided into three groups: Energy System Settings, Energy Technology, and Impacts Control. These parameters will allow you to define the configurations of the energy transition scenario. Additional information regarding the parameters and metrics is available by clicking the information icons.
            {% endblocktrans %}
        </div>
        <div class="small p-3 text-dark" style="border-top-left-radius: 3px;">
            
           
            <div class='d-flex align-items-end'>
                <div  class="h1 p-0 m-0 text-primary font-weight-bold" id='scenarios_response'> 82 </div>
                <div class='px-2'> {% translate 'Scenarios are matching your search parameters'%}. </div>
            </div>
            
            
        </div>
    </div>
    <div class='d-flex flex-row-reverse p-2 m-2'>
        
        <i title="restart"  class="fa fa-undo  pr-2 bg-primary text-white p-3 rounded-top mx-2 rounded-bottom btn btn-primary"  data-toggle='modal' data-placement='top' data-target="#back_modal"></i> 
        
      </div>
      <div class="modal fade" id="back_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">   {% translate 'Are you sure'%}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class='modal-body'>
              {% translate 'Confirming this choice will erase all settings defined for these scenarios.'%}
            </div>
            <div class="modal-footer">
              <a href="{% url 'interface' project_id=1 starting_scenario='a'%}" type="button" class="btn btn-primary"> {% translate 'Confirm'%}</a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">   {% translate 'Cancel'%}</button>
            </div>
        </div>
      </div>
    </div>
    <br/>
    <ul class="nav nav-pills nav-fill" role="tablist">
        <li class="mx-5 nav-item"><a class="nav-link active" data-toggle="tab" href="#home">{% translate 'Energy system settings'%}</a></li>
        <li class="mx-5 nav-item"><a class="nav-link"  data-toggle="tab" href="#menu1">{% translate 'Impacts control'%}</a></li>
        <li class="mx-5 nav-item"><a class="nav-link"  data-toggle="tab" href="#menu2">{% translate 'Energy technology'%}</a></li>
    </ul>
    <form action="" method="post" id='search_form'>
        {% csrf_token %}
        <div class="tab-content">
            <div id="home" class="ml-5 pt-5 tab-pane fade in active show">
      
                <div class="row">
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Power Generation Capacity'%} (GW) </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top' data-target="#power_help"></i></span>
                            </div>
                        </div>
                        <div id="power"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Storage Capacity'%} (TWh) </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary  fa fa-info-circle"
                                        data-toggle='modal' data-placement='top' data-target="#storage_help"></i></span>
                            </div>
                        </div>
                        <div id="storage"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Community-led infrasctructure'%} </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top'
                                        data-target="#community_help"></i></span>
                            </div>
                        </div>
                        <div id="community"></div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Implementation pace'%} </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top'
                                        data-target="#pace_help"></i></span>
                            </div>
                        </div>
                        <div id="implement"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Import dependency'%} </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top' data-target="#import_help"></i></span>
                            </div>
                        </div>
                        <div id="import"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Degree of electrification (heating)'%} </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top' data-target="#heat_help"></i></span>
                            </div>
                        </div>
                        <div id="heat"></div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Degree of electrification (transport)'%} </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top'
                                        data-target="#transport_help"></i></span>
                            </div>
                        </div>
                        <div id="transport"></div>
                    </div>
                </div>

                <div class="modal fade" id="power_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Power generation capacity' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets the amount of power generation capacity deployed in the system.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="storage_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Power storage capacity' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets how much storage capacity (e.g., battery, heat, hydrogen storage) is deployed in the system.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="community_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Community led-infrastructure' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets the degree to which the system capacity is composed of community-scale infrastructure, such as rooftop photovoltaic panels and batteries.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="pace_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Pace of Implementation' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets  the speed of the implementation by power generation capacity deployed per year compared to historical data
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="import_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Import dependency' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets the degree of imported energy in the total primary energy supply. Includes both electricity and hydrogen imports.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="heat_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Degree of electrification (heating)' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets the degree to which heat for buildings is provided by electric technologies,such as Heat Pumps.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="transport_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Degree of electrification (transport)' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets the degree to which road transport is provided by electric vehicles.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu1" class="ml-5  pt-5 tab-pane fade">
                <div class="row">
                    
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Agricultural Land Occupation (LOP)'%} (m2 x year annual crop land) </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top' data-target="#land_help"></i></span>
                            </div>
                        </div>
                        <div id="land"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Surplus Ore Potential'%} (kg Cu) </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top' data-target="#surplus_help"></i></span>
                            </div>
                        </div>
                        <div id="surplus"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Global Warming Potential'%} (kg CO2 to air)</div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top' data-target="#global_help"></i></span>
                            </div>
                        </div>
                        <div id="global"></div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Water Comsumption Potential'%}  (m3 water consumed)</div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top' data-target="#water_help"></i></span>
                            </div>
                        </div>
                        <div id="water"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-between px-4">
                            <div>{% translate 'Freshwater Eutrophication Potential'%} (Kg P to fresh water) </div>
                            <div>
                                <span>
                                    <i style='color:#007bff;' class="text-primary fa fa-info-circle"
                                        data-toggle='modal' data-placement='top' data-target="#fresh_help"></i></span>
                            </div>
                        </div>
                        <div id="fresh"></div>
                    </div>
                </div>


            </div>

            <div class="modal fade" id="land_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Agricultural Land Occupation' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Environmental Impacts associated with land use changes. Indicator: occupation and time integrated transformation. 
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="surplus_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Surplus Ore Potential' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Damage to the natural resource scarcity. Indicator: ore grade decrease.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="global_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Global Warming Potential' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Impact on global warming due to greenhouse gas emissions. Indicator: Infrared radiative forcing increase.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="water_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Water Consumption Potential' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Environmental Impact of the energy system on water resources. Indicator: increase of water consumed.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="fresh_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Freshwater Eutrophication Potential' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Impact on water ecosystems, particularly due to eutrophication. Indicator: phosphorus increase in fresh water.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div id="menu2" class="ml-5 pt-5 tab-pane fade">
                <div class="row">
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'PV Roof-mounted'%} </div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-primary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#photo-roof_help"></i></span>
                        </div>
                    </div>
                    <div id="photo-roof"></div>
                </div>

                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'PV Open-field'%}  </div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-primary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#photo-open-field_help"></i></span>
                        </div>
                    </div>
                    <div id="photo-open-field"></div>
                </div>
                
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'Electrolysers'%}</div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-primary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#hydrogen_help"></i></span>
                        </div>
                    </div>
                    <div id="hydrogen"></div>
                </div>
            </div>
          <!-- <div class="row">
                
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'Hydro - Run or river </div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-secondary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#hydro-river_help"></i></span>
                        </div>
                    </div>
                    <div id="hydro-river"></div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'Hydro - Pumped</div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-secondary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#hydro-pumped_help"></i></span>
                        </div>
                    </div>
                    <div id="hydro-pumped"></div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'Hydro - Reservoir (Gw) </div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-secondary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#hydro-reservoir_help"></i></span>
                        </div>
                    </div>
                    <div id="hydro-reservoir"></div>
                </div>
            </div> --> 
            <div class="row">
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'Wind On-shore'%} </div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-primary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#wind-on-shore_help"></i></span>
                        </div>
                    </div>
                    <div id="wind-on-shore"></div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'Wind Off-shore'%}</div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-primary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#wind-off-shore_help"></i></span>
                        </div>
                    </div>
                    <div id="wind-off-shore"></div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'Transmission'%}</div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-primary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#transmission_help"></i></span>
                        </div>
                    </div>
                    <div id="transmission"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'Biofuels Supply (Domestic)'%}</div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-primary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#bio_help"></i></span>
                        </div>
                    </div>
                    <div id="bio"></div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex justify-content-between px-4">
                        <div>{% translate 'Battery'%}</div>
                        <div>
                            <span>
                                <i style='color:#007bff;' class="text-primary fa fa-info-circle" data-toggle='modal'
                                    data-placement='top' data-target="#battery_help"></i></span>
                        </div>
                    </div>
                    <div id="battery"></div>
                </div>
                <div class="col-lg-4">

                </div>
            </div>
        
            <div class="modal fade" id="photo-roof_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'PV Roof-mounted'%} 
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets how much of the system should be installed as Rooftop PV 
                                 {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>

            <div class="modal fade" id="photo-open-field_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'PV Open-field' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets how much of the system should be installed as Open field PV 
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="hydrogen_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Hydrogen CHP' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets how much of the system should be installed as Electrolysers
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="wind-on-shore_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Wind On-shore' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets how much of the system should be installed as On-Shore wind
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="wind-off-shore_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Wind Off-shore' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets how much of the system should be installed as Offshore wind.
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="transmission_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Transmission' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets how much transmission capacity should be expanded.
                                 {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="bio_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Biofuel Supply (Domestic)' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Sets the extent to which domestic sustainable biofuel resources are used
                                {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="battery_help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel"><span><i style='color:#007bff;'
                                            class='fa fa-info-circle mr-2'></i></span>{% translate 'Battery storage' %}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class='modal-body'>
                                {% blocktrans %} 
                                Extent to which batteries are deployed.
                                 {% endblocktrans %}
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            
        </div>
        <br />
        <input type="submit" class="float-right btn btn-primary py-3 px-5 btn-pill" value="{% translate 'Generate results' %} "> 
    </form>

</div>
<div class='m-5 p-5 h-100'></div>
{% endblock%}
{% block scr %}
const options = {
range: { min: 0, max: 100, step: 10 },
initialSelectedValues: { from: 0, to: 20 },
grid: { minTicksStep: 1, marksStep: 1 },
theme: "light",
showInputs: false,
};
const fracOptions = {
range: { min: 0, max: 1, step: .05 },
initialSelectedValues: { from: 0, to: .8 },
grid: { minTicksStep: 2, marksStep: 2 },
theme: "light",

};

$(document).ready(function () {
    $("#save_params").click(function (event) {
        let val = $("#search_param_name").val();
      $.ajax({
        type: "POST",
        url: "/save/" + val + "/",
        data: $("#search_form").serialize(),
        success: function () {
          console.log('Data is saved');
          $('#save_modal').modal('toggle')
          $('#save_confirmation').css('display','block');
        }
      });
      return false; //<---- move it here
    });
  
  });

const powerOptions = {
    range: { min: 0, max: 160, step: 25 },
    initialSelectedValues: { from: 20, to: 100 },
    theme: "light",
    };

const storageOptions = {
        range: { min: 0, max: 8, step: 1 },
        initialSelectedValues: { from: 2, to: 7 },
        theme: "light",
        };
    

const paceOptions = {
range: { min: 0, max: 13, step: 1 },
initialSelectedValues: { from: 1, to: 6 },
grid: { minTicksStep: 1, marksStep: 1 },
theme: "light"
};

$('#power').alRangeSlider(powerOptions);
$('#storage').alRangeSlider(storageOptions);
$('#community').alRangeSlider(fracOptions);
$('#implement').alRangeSlider(paceOptions);
$('#import').alRangeSlider(fracOptions);
$('#heat').alRangeSlider(fracOptions);
$('#transport').alRangeSlider(fracOptions);

$('#land').alRangeSlider(fracOptions);
$('#surplus').alRangeSlider(fracOptions);
$('#global').alRangeSlider(fracOptions);
$('#water').alRangeSlider(fracOptions);
$('#fresh').alRangeSlider(fracOptions);

$('#photo-roof').alRangeSlider(fracOptions);

$('#photo-open-field').alRangeSlider(fracOptions);
$('#hydro-river').alRangeSlider(fracOptions);
$('#hydro-pumped').alRangeSlider(fracOptions);
$('#hydro-reservoir').alRangeSlider(fracOptions);
$('#hydrogen').alRangeSlider(fracOptions);
$('#wind-on-shore').alRangeSlider(fracOptions);
$('#wind-off-shore').alRangeSlider(fracOptions);
$('#transmission').alRangeSlider(fracOptions);
$('#bio').alRangeSlider(fracOptions);
$('#battery').alRangeSlider(fracOptions);
$(document).ready(function () { 
    $('#submit_form').on('click',function (e) {
        $("#search_form").submit();
    });
});

$(document).ready(function () { 
    $('.al-range-slider__knob').on('click',function (e) {
        console.log('Clicked');
        console.log($("#search_form").serialize());
        $.ajax({
            data: $("#search_form").serialize(),
            type: 'POST',
            url: "{% url 'scenarios_count' %}",
            success: function (response) {
                console.log ('successfully');
                console.log(response);
                msg = "<p class='text-dark'>There are  <h1 class='text-primary p-0 m-0'>"+response.total_scenarios +"</h1> {% translate 'Scenarios are matching your preferences'%}.</p>";
                $('#scenarios_response').text(response.total_scenarios);
            }
        });
        return false;
    });
})
{% endblock%}
