{% extends 'base.html'%}
{% load i18n %}
{%block body%}

    <div class="row flex-nowrap m-4 p-4 h-100">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 pr-4 h-100">
            <div class="d-flex flex-column align-items-center px-5 pt-2 ">
                
                <ul class="nav nav-pills flex-column mb-sm-auto mt-3 mb-2 align-items-center pt-5 " id="menu">
                    <li class="btn btn-info py-2 px-5 btn-pill btn-md btn-block waves-effect text-left m-b-20">
                        <a href="{% url 'project_select_page' %}" class="align-middle px-0 text-white  ">
                            <i class="fa fa-plus pr-2"></i>  <span class="ms-1 d-none  d-sm-inline">{% translate 'New Scenario'%}</span>
                        </a>
                    </li>
                    <li class="btn btn-primary mt-4 py-2 px-5 btn-pill btn-md btn-block waves-effect text-left m-b-20" pt-2>
                        <a href="{% url 'portfolio' query='saved_scenarios'%}" data-bs-toggle="collapse" class="text-white ">
                            <i class="fa fa-archive pr-2"></i>  <span class="ms-1 d-none d-sm-inline">{% translate 'My Portfolio'%}</span> 
                        </a>
                    </li>
                    <li class="btn btn-primary mt-4 mb-5 py-2 px-5 btn-pill btn-md btn-block waves-effect text-left m-b-20" pt-2>
                        <a href="{% url 'portfolio' query='saved_searches'%}" data-bs-toggle="collapse" class="text-white ">
                            <i class="fa fa-save pr-2"></i>  <span class="ms-1 d-none d-sm-inline">{% translate 'Saved Search'%}</span> 
                        </a>
                    </li>
                
                    
                    <li class="btn btn-secondary mt-5 py-2 px-5 btn-pill btn-md btn-block waves-effect text-left m-b-20" pt-2>
                        <a href="#submenu1" data-bs-toggle="collapse" class="text-white ">
                            <i class="fa fa-cog pr-2"></i>  <span class="ms-1 d-none d-sm-inline">{% translate 'Account settings'%}</span> 
                        </a>
                    </li>
                    
                    
                </ul>
                <div class='mt-5 p-2'>
                    <p class='mx-3'><a href="#">{% translate 'Terms of Use'%}</a></p>
                    <p class='mx-3'><a href="#">{% translate 'Privacy policy'%}</a></p>

                </div>
                <hr>
                
            </div>
        </div>
        <div class="col px-5 h-75">
            <div class = 'd-flex px-3 row'>
                <div>
                    <h3 class='px-3 font-weight-bold'> {% translate 'My Portfolio'%} </h3>
                </div>
                <p class='text-muted'>
                 
                </p>
                <div class='ml-auto'>
                    <h3><a title='Logout' class='text-muted' href="/logout/"><i class="fa fa-sign-out-alt"></i></a></h3>
                </div>
            </div>
            <p class='text-muted px-3 mb-4'> {% translate 'Store and organise your favourite scenarios'%} </p>
            <div class='text-center text-lg py-5 align-middle h-75'>
                 {% if scenarios|length == 0 %}
                    <div class='text-muted'> {% translate 'It seems like your portfolio is still empty.'%} </div>
                    <div class='text-muted mb-5'>   
                        {% blocktrans %} 
                        Click <b>Start</b> to begin selecting your favourite energy transition scenarios. 
                        {% endblocktrans %}
                    </div> 
                    <div> <a href="{% url 'project_select_page'%}" class="btn btn-primary  py-1 text-white px-5 btn-pill btn-md"> {% translate 'Start'%}</a></div>
                {% else %}
                <div class='text-left'>
                {% if query == 'saved_scenarios' %}
                <h4> {% translate 'Your saved scenarios'%} </h4>
                {% endif %}
                {% if query == 'saved_searches' %}
                <h4> {% translate 'Your saved searches'%} </h4> 
                {% endif %}
                </div>
                <table class="table ">
                    <thead>
                        <tr> 
                            <th class='text-left'>{% translate 'Name'%}</th>
                            
                            <th>{% translate 'Last Modified'%}</th>
                            <th>{% translate 'Actions'%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for scenario in scenarios %}
                        <tr class='text-align-middle'>
                            {% if query == 'saved_scenarios' %}
                            <td class='text-left'><a href="{% url 'inspect' project_id=scenario.project.id scenario_id=scenario.scenario.id%}">{{scenario.label}}</td>
                            
                            <td>{{scenario.last_modified}}</td>
                            <td> <a title='edit' data-id="{{scenario.id}}" data-label="{{scenario.label}}" class='editScenario' href="#" data-toggle='modal' data-placement='top' data-target="#save_modal"> <i class='fa fa-edit text-primary'></i></a> <a title='delete' href="/portfolio/saved_scenarios/delete/{{scenario.id}}/none" onclick="return confirm('Are you sure? This will permanently delete the saved entry.')" > <i class='fa fa-trash text-danger'></i></a> </td>
                           
                            {% endif %}

                            {% if query == 'saved_searches' %}
                            <td class='text-left'><a href="{% url 'fetch' search_id=scenario.id%}">{{scenario.label}}</td>
                            
                            <td>{{scenario.sub_date}}</td>
                            <td> <a title='edit' data-id={{scenario.id}}  data-label="{{scenario.label}}" class='editSearch' href="#" data-toggle='modal' data-placement='top' data-target="#save_modal2"> <i class='fa fa-edit text-primary'></i></a> <a title='delete' href="/portfolio/saved_searches/delete/{{scenario.id}}/none" onclick="return confirm('Are you sure? This will permanently delete the saved entry.')" > <i class='fa fa-trash text-danger'></i></a> </td>
                           {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="modal hide" id="save_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">   {% translate 'Update the saved scenario details'%}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method='post'>
                {% csrf_token %}
            <div class='modal-body'>
                <div class="form-group">
                  <label for="exampleInputEmail1">   {% translate 'Label'%}</label>
                  <input type="hidden" class="form-control" id="saved_scenario_id" name="id">
                  <input type="text" class="form-control" id="saved_scenario_label" name="label" aria-describedby="emailHelp">
                  <small  class="form-text text-muted">   {% translate 'Saved scenario details will be updated.'%}</small>
                </div>
            </div>

            <div class="modal-footer">
              <button id='update_entry' type="submit" class="btn btn-primary">   {% translate 'Update'%}</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">   {% translate 'Cancel'%}</button>
            </div>
            </form>

        </div>
      </div>
    </div>
    <div class="modal hide" id="save_modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">   {% translate 'Update the saved scenario details'%}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method='post'>
                {% csrf_token %}
            <div class='modal-body'>
                <div class="form-group">
                  <label for="exampleInputEmail1">   {% translate 'Label'%}</label>
                  <input type="hidden" class="form-control" id="saved_search_id" name="id">
                  <input type="text" class="form-control" id="saved_search_label" name="label" aria-describedby="emailHelp">
                  <small  class="form-text text-muted">   {% translate 'Saved scenario details will be updated.'%}</small>
                </div>
            </div>

            <div class="modal-footer">
              <button id='update_search' type="submit" class="btn btn-primary">   {% translate 'Update'%}</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">   {% translate 'Cancel'%}</button>
            </div>
            </form>

        </div>
      </div>
    </div>
            <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title" id="exampleModalLabel">   {% translate 'Are you sure'%}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class='modal-body'>
                            {% translate 'Confirming this choice will delete the saved scenario.'%}
                        </div>
                        <div class="modal-footer">
                            <a href="#" type="button" class="btn btn-danger text-white"> {% translate 'Delete'%}</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">   {% translate 'Cancel'%}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock%}
{% block scr %}

$(document).on("click", ".editScenario", function () {
    var scenarioId = $(this).data('id');
    var scenarioLabel = $(this).data('label');
    $(".modal-body #saved_scenario_id").val(scenarioId);
    $(".modal-body #saved_scenario_label").val(scenarioLabel);
    // As pointed out in comments, 
    // it is unnecessary to have to manually call the modal.
     $('#save_modal').modal('show');
});
$(document).ready(function () {
    $("#update_entry").click(function (event) {
      let sc_id = $("#saved_scenario_id").val();
      let sc_label = $("#saved_scenario_label").val();

      console.log('ajax call');
      $.ajax({
        type: "POST",
        url: "/portfolio/saved_scenarios/update/" + sc_id + "/"+sc_label,
        data: {},
        success: function () {
          console.log('Data is saved');
          $('#save_modal').modal('toggle');
          $('#save_confirmation').css('display','block');
          location.reload();
        }
      });
      return false; //<---- move it here
    });
  
  });
  $(document).on("click", ".editSearch", function () {
    var scenarioId = $(this).data('id');
    var scenarioLabel = $(this).data('label');
    $(".modal-body #saved_search_id").val(scenarioId);
    $(".modal-body #saved_search_label").val(scenarioLabel);
    // As pointed out in comments, 
    // it is unnecessary to have to manually call the modal.
     $('#save_modal2').modal('show');
});
  $(document).ready(function () {
    $("#update_search").click(function (event) {
      let sc_id = $("#saved_search_id").val();
      let sc_label = $("#saved_search_label").val();
      $.ajax({
        type: "POST",
        url: "/portfolio/saved_searches/update/" + sc_id + "/"+sc_label,
        data: {},
        success: function () {
          $('#save_modal2').modal('toggle');
          $('#save_confirmation').css('display','block');
          location.reload();
        }
      });
      return false; //<---- move it here
    });
  
  });

{% endblock %}