{% extends 'base_inspect.html'%}
{%load static%}
{%block body%}
<style>
  a.active {
    font-weight: bold;
    border-bottom: #007bff;
  }

  .al-range-slider__input {
    display: none;
  }
</style>
<div class='d-flex px-4 mx-4 justify-content-between'>
  <div class='p-4'>
    <h2> Select a Starting Point </h2> 
    <p class='text-muted'> 
      These examples will assis you in how to design your energy transition scenarios, giving you a starting point for selecting and adjusting the parameters.
    </p>
  </div>

</div>
<div class="p-2 ">
  <div class='row justify-content-around'>
    <div class='col col-5 p-4 bg-white shadow-sm border-light rounded'>
      <div class='d-flex flex-row justify-content-between align-content-center'>
        <p class='h3  font-weight-bold'>Scenario {{data1.scenario.id}}</p>
      </div>
      <div class='row mt-3 pr-3 col-12 p-4 '>
        <div class='col d-flex'>
          <div class='p-1 bg-white shadow-sm border-light rounded' id="solar_map_a"></div>
          <div class='p-1'  id="wind_map_a"></div>
          <div>
            <div class='m-2' id='power_generation_a'></div>
            <div class='p-0 m-2' id='power_storage_a'></div>
            <div  id='energy_supply_a'></div>
          </div>
        </div>
      </div>
      <div class='my-3'>
        <div id='impact_a'></div>
      </div>
      <div class='d-flex justify-content-center'>
       <a href='{% url 'inspect' project_id=data1.scenario.project.id scenario_id=data1.scenario.id %}' class='px-4 py-1  bg-primary text-light  text-primary border border-primary' style='border-radius:3rem'>Start with this</a>
      </div>
    </div>

    <div class='col col-5 p-4 bg-white shadow-sm border-light rounded'>
      <div class='d-flex flex-row justify-content-between align-content-center'>
        <p class='h3  font-weight-bold'>Scenario {{data2.scenario.id}}</p>
      </div>
      <div class='row mt-3 pr-3 col-12 p-4 '>
        <div class='col d-flex'>
          <div class='p-1 d-flex align-items-start' id="solar_map_b"></div>
          <div class='p-1 d-flex align-items-end'  id="wind_map_b"></div>
          <div>
            <div class='m-2' id='power_generation_b'></div>
            <div class='p-0 m-2' id='power_storage_b'></div>
            <div  id='energy_supply_b'></div>
          </div>
        </div>
      </div>
      <div class='my-3'>
        <div id='impact_b'></div>
      </div>
      <div class='d-flex justify-content-center'>
        <a href='{% url 'inspect' project_id=data2.scenario.project.id scenario_id=data2.scenario.id %}' class='px-4 py-1  bg-primary text-light  text-primary border border-primary' style='border-radius:3rem'>Start with this</a>
       </div>
    </div>
  </div>
  
</div>

  <div> </div>
    {% endblock%}
    {% block scr %}

    const config = {
      displayModeBar: false, // this is the line that hides the bar.
    };
    data = [{
      type: 'scatterpolar',
      r: {{ data1.radial_r | safe}},
      theta: {{ data1.radial_theta | safe }},
      fill: 'toself',
      name: 'Scenario:{{data1.scenario.id}}'
    },{
      type: 'scatterpolar',
      r: {{ data2.radial_r | safe}},
      theta: {{ data2.radial_theta | safe }},
      fill: 'toself',
      name: 'Scenario:{{data2.scenario.id}}'
    }]
    layout = {
      polar: {
        radialaxis: {
          visible: true,
          range: [0,1]
        }
      },
      showlegend: true
    }
    
    

    var data_supply = [{
      type: "pie",
      values: {{ data1.energy_supply_pie_values | safe}},
      labels: {{ data1.energy_supply_pie_labels | safe}},
      textinfo: "label+percent",
      textposition: "outside",
      automargin: true
    }]
    var layout_supply = {
      height: 300,
      width: 330,
      showlegend: false,
      margin : {l:0, r:0, t:0, b:0},
      }
    Plotly.newPlot('energy_supply_a', data_supply, layout_supply,config)

    var data_supply = [{
      type: "pie",
      values: {{ data2.energy_supply_pie_values | safe}},
      labels: {{ data2.energy_supply_pie_labels | safe}},
      textinfo: "label+percent",
      textposition: "outside",
      automargin: true
    }]
   
    Plotly.newPlot('energy_supply_b', data_supply, layout_supply,config)

    var power_data = {{data1.power_bar_data | safe}};
    var layout = {
    barmode: 'stack',
    xaxis:{
        range:[0,{{data1.total_generation}} + 20]
    },
    height: 80,
    width: 300,
    showlegend: false,
    legend:{orientation: 'h', side:'top'},
    margin : {l:55, r:5, t:0, b:25},
    
    };
    Plotly.newPlot('power_generation_a', power_data,layout,config);

    var storage_data = {{data1.storage_bar_data | safe}};
    var layout = {
    barmode: 'stack',
    xaxis:{
        range:[0,{{data1.total_storage}} + 20]
    },
    height: 80,
    width: 300,
    showlegend: false,
    legend:{orientation: 'h', side:'top'},
    margin : {l:55, r:5, t:0, b:25},
    };
    Plotly.newPlot('power_storage_a', storage_data,layout,config);

    var power_data = {{data2.power_bar_data | safe}};
    var layout = {

    barmode: 'stack',
    xaxis:{
        range:[0,{{data2.total_generation}} + 20]
    },
    height: 80,
    width: 300,
    showlegend: false,
    legend:{orientation: 'h', side:'top'},
    margin : {l:55, r:5, t:0, b:25},
    };
    Plotly.newPlot('power_generation_b', power_data,layout,config);

    var storage_data = {{data2.storage_bar_data | safe}};
    var layout = {
    barmode: 'stack',
    xaxis:{
        range:[0,{{data2.total_storage}} + 20]
    },
    height: 80,
    width: 300,
    showlegend: false,
    legend:{orientation: 'h', side:'top'},
    margin : {l:55, r:5, t:0, b:25},
    };
    Plotly.newPlot('power_storage_b', storage_data,layout,config);
  
    var solar_map_data_a = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata1.solar.z | safe}},
      locations:{{ mapdata1.solar.locations | safe}},
      customdata: [65, 88, 51, 46, 93, 20, 79, 33, 95, 95, 62,  7],
      showscale:false,

      marker_line_width:1,
  
    }]
    var wind_map_data_a = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata1.wind.z | safe}},
      locations:{{ mapdata1.wind.locations | safe}},
      customdata: [65, 88, 51, 46, 93, 20, 79, 33, 95, 95, 62,  7],
      marker_line_width:1,
      showscale:false,
    }]

    var solar_map_data_b = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata2.solar.z | safe}},
      locations:{{ mapdata2.solar.locations | safe}},
      customdata: [65, 88, 51, 46, 93, 20, 79, 33, 95, 95, 62,  7],
      showscale:false,

      marker_line_width:1,
  
    }]
    var wind_map_data_b = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata2.wind.z | safe}},
      locations:{{ mapdata2.wind.locations | safe}},
      customdata: [65, 88, 51, 46, 93, 20, 79, 33, 95, 95, 62,  7],
      marker_line_width:1,
      showscale:false,
    }]
    var map_layout = {
  
      height: 500,
      width: 200,
      showlegend: false,
      margin : {l:0, r:0, t:0, b:0},
      mapbox:{
          style:'carto-positron',
          zoom:5.4,
          center:{lat:39.5,lon:-8}
      }
      }
      var map_layout2 = {
  
        height: 500,
        width: 200,
        showlegend: false,
        margin : {l:0, r:0, t:0, b:0},
        mapbox:{
            style:'carto-positron',
            zoom:5.4,
            center:{lat:39.5,lon:-8}
        }
        }
    Plotly.newPlot('solar_map_a', solar_map_data_a, map_layout,config)
    Plotly.newPlot('wind_map_a', wind_map_data_a, map_layout2,config)

    Plotly.newPlot('solar_map_b', solar_map_data_b, map_layout,config)
    Plotly.newPlot('wind_map_b', wind_map_data_b, map_layout2,config)



    var trace1 = {
      x: {{land_other_a_x | safe}},
      y: {{land_other_a_y | safe}},
      mode: 'markers',
      type: 'scatter',
      opacity: .3,
      text: {{land_other_a_text | safe}},
      marker: { size: 12 }
    };
    
    
    var trace2 = {
      x: {{land_self_a_x | safe}},
      y: {{land_self_a_y | safe}},
      mode: 'markers',
      type: 'scatter',
      
      text: {{land_self_a_text | safe}},
      marker: { size: 12 }
    };

    var data = [ trace1, trace2 ];
    var layout = {
      
      
      title:'Agricultural Land Occupation'
    };
    Plotly.newPlot('impact_a', data, layout);
    Plotly.newPlot('impact_b', data, layout);
    {% endblock%}
