{% extends 'base_inspect.html'%}
{%load static%}
{% load i18n %}
{%block body%}
<style>
  a.active {
    font-weight: bold;
    border-bottom: #007bff;
  }

  .al-range-slider__input {
    display: none;
  }

</style>

<div class="mt-4 mx-4 px-5 ">
  <a class="text-muted" href="{% url 'project_select_page'%}"> <span class='fa fa-arrow-left fa-2x'></span><a>
</div>
<div class='d-flex px-4 mx-4 justify-content-between'>
  <div class='p-4'>
    <h2> {% translate 'Select a Starting Point'%} </h2> 
    <p class='text-muted'> 
      {% translate 'These examples will assis you in how to design your energy transition scenarios, giving you a starting point for selecting and adjusting the parameters.'%}
    </p>
  </div>


</div>
<div class="p-2 pb-5">
  <div class='row justify-content-around'>
    <div class='col col-5 p-4 bg-white shadow-sm border-light rounded'>
      <div class='d-flex flex-row justify-content-between align-content-center'>
        <p class='h3  font-weight-bold'>{% translate 'Scenario'%} A</p>
      </div>
      <div class='row mt-3 pr-3 col-12 '>
        <div class='col mr-3 p-0'>
          <div class='m-1' id='power_generation_a'></div>
          <div class='p-1' id='energy_supply_a'></div>
          <div class='p-0 m-1' id='power_storage_a'></div>
        </div>
        <div class='col p-0'>
          <div class='d-flex align-items-start p-1' id="solar_map_a"></div>
          <div class='d-flex align-items-end p-1'   id="wind_map_a"></div>
        </div>
      </div>
      <div class='my-3'>
        <div id="carouselExampleControls_a" class="carousel slide" data-interval="false" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div id='impact_land_a' alt="First slide"></div>
            </div>
            <div class="carousel-item">
              <div id='impact_ore_a' alt="Second slide"></div>
            </div>
            <div class="carousel-item">
              <div id='impact_global_a' alt="Third slide"></div>
            </div>
            <div class="carousel-item">
              <div id='impact_water_a' alt="Fourth slide"></div>
            </div>
            <div class="carousel-item">
              <div id='impact_freshwater_a' alt="Fifth slide"></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls_a" role="button" data-slide="prev">
            <span class='fa fa-arrow-left fa-1x text-dark'></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls_a" role="button" data-slide="next">
            <span class='fa fa-arrow-right fa-1x text-dark'></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class='d-flex justify-content-center'>
       <a href="{% url 'interface' project_id=data1.scenario.project.id starting_scenario='a'  %}" class='px-4 py-1  btn-primary text-light  text-primary border border-primary' style='border-radius:3rem ; font-weight:bold;' >   {% translate 'Start with this'%}</a>
      </div>
    </div>

    <div class='col col-5 p-4 bg-white shadow-sm border-light rounded'>
      <div class='d-flex flex-row justify-content-between align-content-center'>
        <p class='h3  font-weight-bold'>{% translate 'Scenario'%} B</p>
      </div>
      <div class='row mt-3 pr-3 col-12 p-4 '>
        <div class='col mr-3 p-0'>
          <div class='m-2' id='power_generation_b'></div>
          <div  id='energy_supply_b'></div>
          <div class='p-0 m-2' id='power_storage_b'></div>
        </div>
        <div class='col'>
          <div class='p-1 d-flex align-items-start' id="solar_map_b"></div>
          <div class='p-1 d-flex align-items-end'  id="wind_map_b"></div>
        </div>
      </div>
      <div class='my-3'>
        
        <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div id='impact_land_b' alt="First slide"></div>
            </div>
            <div class="carousel-item">
              <div id='impact_ore_b' alt="Second slide"></div>
            </div>
            <div class="carousel-item">
              <div id='impact_global_b' alt="Third slide"></div>
            </div>
            <div class="carousel-item">
              <div id='impact_water_b' alt="Fourth slide"></div>
            </div>
            <div class="carousel-item">
              <div id='impact_freshwater_b' alt="Fifth slide"></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class='fa fa-arrow-left fa-1x text-dark'></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class='fa fa-arrow-right fa-1x text-dark'></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    
      <div class='d-flex justify-content-center'>
        <a href="{% url 'interface' project_id=data2.scenario.project.id starting_scenario='b' %}" class='px-4 py-1 btn-primary text-light   border border-primary' style='border-radius:3rem ; font-weight:bold;' >   {% translate 'Start with this'%}</a>
       </div>
    </div>
  </div>
  
</div>

    {% endblock%}
    {% block scr %}


    $( document ).ready(function() {
      console.log("hiding ");
      $('#extra_space_bottom').hide();
  });

    const config = {
      displayModeBar: false, // this is the line that hides the bar.
    };
    data = [{
      type: 'scatterpolar',
      r: {{ data1.radial_r | safe}},
      theta: {{ data1.radial_theta | safe }},
      fill: 'toself',
      name: 'Scenario:{{data1.scenario.id}}'
    },{
      type: 'scatterpolar',
      r: {{ data2.radial_r | safe}},
      theta: {{ data2.radial_theta | safe }},
      fill: 'toself',
      name: 'Scenario:{{data2.scenario.id}}'
    }]
    layout = {
      polar: {
        radialaxis: {
          visible: true,
          range: [0,1]
        }
      },
      showlegend: true
    }
    
    

    var data_supply = [{
      type: "pie",
      values: {{ data1.energy_supply_pie_values | safe}},
      labels: {{ data1.energy_supply_pie_labels | safe}},
      marker: { colors: {{data1.energy_supply_pie_colors | safe}}},
      textinfo: "label+percent",
      textposition: "outside",
      automargin: true
    }]
    var layout_supply = {
      height: 330,
      width: 330,
      showlegend: false,
      margin : {l:5, r:5, t:5, b:5},
 
      }
    Plotly.newPlot('energy_supply_a', data_supply, layout_supply,config)

    var data_supply = [{
      type: "pie",
      values: {{ data2.energy_supply_pie_values | safe}},
      labels: {{ data2.energy_supply_pie_labels | safe}},
      marker: { colors: {{data2.energy_supply_pie_colors | safe}}},
      textinfo: "label+percent",
      textposition: "outside",
      automargin: true
    }]
   
    Plotly.newPlot('energy_supply_b', data_supply, layout_supply,config)

    var power_data = {{data1.power_bar_data | safe}};

    var layout = {
    barmode: 'stack',
    xaxis:{
      range:[0,{{data1.total_power_generation}} + 10]
    },
    yaxis:{showticklabels:false,},
    height: 90,
    width: 300,
    showlegend: false,
    title: {
      text: 'Power generation capacity',
      font: {
          size: 13
      },
      yref: 'paper',
  },
    legend:{orientation: 'h', side:'top'},
    margin : {l:25, r:5, t:25, b:25},
    
    };
    Plotly.newPlot('power_generation_a', power_data,layout,config);

    var storage_data = {{data1.storage_bar_data | safe}};
    var layout = {
      barmode: 'stack',
      xaxis:{
        range:[0,{{data1.total_system_balance_capacity}} + 10]
      },
      yaxis:{showticklabels:false,},
      title: {
        text: 'System balance capacity',
        font: {
            size: 13
        },
      },
      height: 90,
      width: 300,
      showlegend: false,
      legend:{orientation: 'h', side:'top'},
      margin : {l:25, r:5, t:25, b:25},
      };
    Plotly.newPlot('power_storage_a', storage_data,layout,config);

    var power_data = {{data2.power_bar_data | safe}};
    var layout = {
      barmode: 'stack',
      xaxis:{
        range:[0,{{data2.total_power_generation}} + 10]
      },
      yaxis:{showticklabels:false,},
      title: {
        text: 'Power generation capacity',
        font: {
            size: 13
        },
      },
      height: 90,
      width: 300,
      showlegend: false,
      legend:{orientation: 'h', side:'top'},
      margin : {l:25, r:5, t:25, b:25},
      };
    Plotly.newPlot('power_generation_b', power_data,layout,config);

    var storage_data = {{data2.storage_bar_data | safe}};
    var layout = {
      barmode: 'stack',
      title: {
        text: 'System balance capacity',
        font: {
            size: 13
        },
      },
      xaxis:{
        range:[0,{{data2.total_system_balance_capacity}} + 10],
        showticklabels:false,
      },
      yaxis:{showticklabels:false,},
      height: 90,
      width: 300,
      showlegend: false,
      legend:{orientation: 'h', side:'top'},
      margin : {l:25, r:5, t:25, b:25},
      };
    Plotly.newPlot('power_storage_b', storage_data,layout,config);
  
    var solar_map_data_a = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata1.solar.z | safe}},
      locations:{{ mapdata1.solar.locations | safe}},
      text:{{ mapdata1.solar.text | safe}},
      autocolorscale: false,
      colorscale: [
        [0.0, "#f6e3ce"], [1, "#D2770B"]], 
      hovertemplate: 'Solar: %{z:.2f} TW<br>%{text}<extra></extra>',
      showscale:false,
      name:'Solar',
      marker: {'color':'#3F5A33'},
      marker_line_width:1,
  
    }]
    var wind_map_data_a = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata1.wind.z | safe}},
      locations:{{ mapdata1.wind.locations | safe}},
      text:{{ mapdata1.wind.text | safe}},
      autocolorscale: false,
      colorscale: [
        [0.0, "#ebeeea"], [1, "#3F5A33"]], 
      hovertemplate: 'Wind: %{z:.2f} TW<br>%{text}<extra></extra>',
      marker_line_width:1,
      showscale:false,
    }]

    var solar_map_data_b = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata2.solar.z | safe}},
      locations:{{ mapdata2.solar.locations | safe}},
      text:{{ mapdata2.solar.text | safe}},
      autocolorscale: false,
      colorscale: [
        [0.0, "#f6e3ce"], [1, "#D2770B"]], 
      hovertemplate: 'Solar: %{z:.2f} TW<br>%{text}<extra></extra>',
      showscale:false,

      marker_line_width:1,
  
    }]
    var wind_map_data_b = [{
      type: "choroplethmapbox",
      geojson:"{% static 'portugal_regions.geojson' %}",
      featureidkey:'properties.index',
      z: {{ mapdata2.wind.z | safe}},
      locations:{{ mapdata2.wind.locations | safe}},
      text:{{ mapdata2.wind.text | safe}},
      autocolorscale: false,
      colorscale: [
        [0.0, "#ebeeea"], [1, "#3F5A33"]], 
      hovertemplate: 'Wind: %{z:.2f}  TW<br>%{text}<extra></extra>',
      marker_line_width:1,
      showscale:false,
    }]
    var map_layout = {
  
      height: 300,
      width: 160,
      showlegend: false,
      margin : {l:0, r:20, t:0, b:0,pad:5},
      mapbox:{
          style:'carto-positron',
          zoom:4.8,
          center:{lat:39.3,lon:-8}
      }
      }
      var map_layout2 = {
  
        height: 300,
        width: 160,
        showlegend: false,
        margin : {l:20, r:0, t:0, b:0},
        mapbox:{
            style:'carto-positron',
            zoom:4.8,
            center:{lat:39.5,lon:-8}
        }
        }
    Plotly.newPlot('solar_map_a', solar_map_data_a, map_layout,config)
    Plotly.newPlot('wind_map_a', wind_map_data_a, map_layout2,config)

    Plotly.newPlot('solar_map_b', solar_map_data_b, map_layout,config)
    Plotly.newPlot('wind_map_b', wind_map_data_b, map_layout2,config)

    // Impact visualization for scenario a

    
    var trace1_a = {
      x: {{impact_a.land_occupation.others.x | safe}},
      y: {{impact_a.land_occupation.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.land_occupation.self.x | safe}},
      y: {{impact_a.land_occupation.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-A',
      marker: { size: 12 }
    };

    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:'Agricultural Land Occupation',
      width: 500,
      showlegend: false,
   
    };
    Plotly.newPlot('impact_land_a', data_a, layout_a,config);

   
    var trace1_a = {
      x: {{impact_a.surplus_ore.others.x | safe}},
      y: {{impact_a.surplus_ore.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.surplus_ore.self.x | safe}},
      y: {{impact_a.surplus_ore.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-A',
      marker: { size: 12 }
    };
    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:'Surplus Ore',
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_ore_a', data_a, layout_a,config);

    var trace1_a = {
      x: {{impact_a.global_warming.others.x | safe}},
      y: {{impact_a.global_warming.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.global_warming.self.x | safe}},
      y: {{impact_a.global_warming.self.y | safe}},
      mode: 'markers',
      name: 'Scenario-A',
      type: 'scatter',
      marker: { size: 12 }
    };
    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:'Global Warming',
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_global_a', data_a, layout_a,config);

    var trace1_a = {
      x: {{impact_a.water_consumption.others.x | safe}},
      y: {{impact_a.water_consumption.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.water_consumption.self.x | safe}},
      y: {{impact_a.water_consumption.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-A',
      marker: { size: 12 }
    };
    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:'Water Consumption',
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_water_a', data_a, layout_a,config);

    var trace1_a = {
      x: {{impact_a.freshwater_eutrophication.others.x | safe}},
      y: {{impact_a.freshwater_eutrophication.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_a = {
      x: {{impact_a.freshwater_eutrophication.self.x | safe}},
      y: {{impact_a.freshwater_eutrophication.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-A',
      marker: { size: 12 }
    };
    var data_a = [ trace1_a, trace2_a ];
    var layout_a = {
      title:'Freshwater Eutrophication',
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_freshwater_a', data_a, layout_a,config);

    var trace1_b = {
      x: {{impact_b.land_occupation.others.x | safe}},
      y: {{impact_b.land_occupation.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_b = {
      x: {{impact_b.land_occupation.self.x | safe}},
      y: {{impact_b.land_occupation.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-B',
      marker: { size: 12 }
    };
    var data_b = [ trace1_b, trace2_b ];
    var layout_b = {
      title:'Agricultural Land Occupation',
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_land_b', data_b, layout_b,config);

    var trace1_b = {
      x: {{impact_b.surplus_ore.others.x | safe}},
      y: {{impact_b.surplus_ore.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_b = {
      x: {{impact_b.surplus_ore.self.x | safe}},
      y: {{impact_b.surplus_ore.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-B',
      marker: { size: 12 }
    };
    var data_b = [ trace1_b, trace2_b ];
    var layout_b = {
      title:'Surplus Ore',
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_ore_b', data_b, layout_b,config);

    var trace1_b = {
      x: {{impact_b.global_warming.others.x | safe}},
      y: {{impact_b.global_warming.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_b = {
      x: {{impact_b.global_warming.self.x | safe}},
      y: {{impact_b.global_warming.self.y | safe}},
      mode: 'markers',
      name: 'Scenario-B',
      type: 'scatter',
      marker: { size: 12 }
    };
    var data_b = [ trace1_b, trace2_b ];
    var layout_b = {
      title:'Global Warming',
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_global_b', data_b, layout_b,config);

    var trace1_b = {
      x: {{impact_b.water_consumption.others.x | safe}},
      y: {{impact_b.water_consumption.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_b = {
      x: {{impact_b.water_consumption.self.x | safe}},
      y: {{impact_b.water_consumption.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-B',
      marker: { size: 12 }
    };
    var data_b = [ trace1_b, trace2_b ];
    var layout_b = {
      title:'Water Consumption',
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_water_b', data_b, layout_b,config);

    var trace1_b = {
      x: {{impact_b.freshwater_eutrophication.others.x | safe}},
      y: {{impact_b.freshwater_eutrophication.others.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name:'Other scenarios',
      opacity: .3,
      marker: { size: 12 }
    };
    var trace2_b = {
      x: {{impact_b.freshwater_eutrophication.self.x | safe}},
      y: {{impact_b.freshwater_eutrophication.self.y | safe}},
      mode: 'markers',
      type: 'scatter',
      name: 'Scenario-B',
      marker: { size: 12 }
    };
    var data_b = [ trace1_b, trace2_b ];
    var layout_b = {
      title:'Freshwater Eutrophication',
      width: 500,
      showlegend: false,
    };
    Plotly.newPlot('impact_freshwater_b', data_b, layout_b,config);
    {% endblock%}
